.mask-image-edges {
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 30%,
    black 70%,
    transparent 100%
  );
}

.slick-prev {
  left: 25px;
  z-index: 10;
}

.slick-next {
  right: 25px;
  z-index: 10;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button::before {
  opacity: 0.4;
  color: #fbc302;
}

.slick-dots li.slick-active button::before {
  opacity: 1;
  color: #fbc302;
}
